# playbooks/features/install_magic_wormhole.yml
#
# magic-wormhole provides:
# - macOS: Homebrew -> brew install magic-wormhole
# - Debian/Ubuntu: apt -> sudo apt install magic-wormhole
# - Arch: package manager (repo or AUR depending on your environment)
#
# We keep the logic explicit + auditable:
# - No pip/pipx here.

- name: Debug magic-wormhole feature intent
  ansible.builtin.debug:
    msg:
      feature: install_magic_wormhole
      enabled: "{{ install_magic_wormhole }}"
      reason: "{{ install_magic_wormhole_reason }}"
      pkg_family: "{{ env_pkg_family }}"
      flavor: "{{ env_flavor }}"

- name: Install magic-wormhole
  ansible.builtin.include_role:
    name: install_packages
  vars:
    install_packages_list:
      - name: >-
          {{
            env_package_names.magic_wormhole.arch
            if env_pkg_family == 'arch'
            else
              (
                env_package_names.magic_wormhole.debian
                if env_pkg_family == 'debian'
                else
                  env_package_names.magic_wormhole.macos
              )
          }}
        state: present
